.__btn {
    transition: all 0.2s;

    &.el-button {
        background: #27A577;
        border-radius: 6px;
        color: #FFFFFF;
        border: 0;
    }

    &.el-button:focus,
    &.el-button:hover,
    &.el-button.is-disabled,
    &.el-button.is-disabled:focus,
    &.el-button.is-disabled:hover {
        color: #FFFFFF;
        background: #27A577;
        border: 0;
    }
}

.__el-select {
    &.el-select {
        width: 140px;
    }
}

.__el-textarea__inner {
    .el-textarea__inner{
        height: 404px !important;
    }

}

.CodeMirror {
    height: 404px !important;
}
